screen_down <C-d>
screen_up <C-u>
prev_state <C-o>
next_state <C-i>
toggle_titlebar <C-w>
zoom_in J
zoom_out K
gd goto_portal
goto_mark '
move_down <C-j>

fit_to_page_width s

# TODO: next/prev in list
# TODO: visual select with keys
# TODO: Fix F for smart jump
# TODO: Something adjacent to custom links or portals on highlight?

